#filters {
    width: 200px;
    float: left;
    margin-left: 100px;
    background-color: lightgray;
    padding-bottom: 25px;
}

#filters h1 {
    font-size: 1em;
}
.filterBox {
    padding: 10px;
}

.filterBox input {
    margin-bottom: 10px;
}

#minBudget, #maxBudget {
    width: 50px;
}

#filters .buttons {
    margin-left: 10px;
}

#directory-container {
    width: 800px;
    gap: 20px;
    float: right;
    display: grid;
}

.grid-item { 
  padding: 5px
}