#filters {
    width: 200px;
    float: left;
    margin-left: 100px;
    background-color: lightgray;
    padding-bottom: 25px;
}
*{
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
}
#filters h1 {
    font-size: 1em;
}
.filterBox {
    padding: 10px;
    max-width: 200px;
    float:left;
    height: 100vh;
}

.filterBox input {
    margin-bottom: 10px;
}

#minBudget, #maxBudget {
    width: 50px;
}

#filters .buttons {
    margin-left: 10px;
}

#directory-container {
    /* max-width: 70%; */
    gap: 20px;
    /* float: right; */
    /* display: grid; */
}

.grid-item { 
  padding: 5px;
  float:left;
}

.poster-img {
    width: auto;
    height:320px;
}
.directory-table{
    margin:auto;

}