.collapsible {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color:white
}
  
  h1 {
    margin:0px;
  }
  .content {
    padding: 0 15px;
    display: none;
    overflow: hidden;
  }

#form-container{
  margin-top:5px;
  margin-left: 25%;

}

.form-elem{

  padding:5px;
}

.content ul {
  all:revert;
}